In [1]:
import os
import pandas as pd

In [2]:
samples = os.listdir("../results/")

In [3]:
# file locations
dfs_list = ["../results/" + s + "/Results.txt" for s in samples]

In [4]:
# read each dataframe individually
dfs = [pd.read_csv(df,sep="\t") for df in dfs_list]

In [5]:
# filter rows (microRNA == Y)
dfs_filtered = [ df.query("MIRNA == 'Y' ") for df in dfs]

In [6]:
# select only cols of interest
dfs_filtered = [df.loc[:,["MajorRNA","MajorRNAReads"]] for df in dfs_filtered]

In [19]:
# rename column MajorRNAReads
dfs_filtered = [df.rename(columns={"MajorRNAReads":sample}) for df,sample in zip(dfs_filtered,samples)]
len(dfs_filtered)

20

In [8]:
# show one df
dfs_filtered[0].head()

                    MajorRNA  LA2172
146    UUCCACAGCUUUCUUGAACUG   20153
453   UUCUUGGCUAGAGUUGUAUUGC      73
1721   CUAGAUUCACGCACAAGCUCG    2138
2019  UUUUAGCAAGAGUUGUUUUCCC    1091
2298    UCGGACCAGGCUUCAUUCCC    8486

In [9]:
len(dfs_filtered)

20

In [18]:
from functools import reduce
df_merged = reduce(lambda left,right: pd.merge(left,right,on=["MajorRNA"]),dfs_filtered[0:17])

#df_merged = pd.concat(dfs_filtered,axis=0,join="outer",ignore_index=True)

#df_merged = dfs_filtered[0].join(dfs_filtered[1:],on="MajorRNA",how="inner")


print(df_merged.shape)
df_merged.head()

(34729272, 18)

,MajorRNA,LA2172,Moneymaker,LA0735,LA1278,PI134418,LA1840,LA2695,LA0716,LYC4,PI127826,LA1578,LA2133,LA1718,LA4024,LA1954,LA2386,LA1364
0,UCGAUAAACCUCUGCAUCCAG,8098,2887,6495,5064,7927,3763,3161,12254,5558,2776,6299,3597,9651,8672,4472,4870,9853
1,UCGAUAAACCUCUGCAUCCAG,8098,2887,6495,5064,7927,3763,3161,12254,5558,2776,6299,3597,9651,8672,4472,4870,11231
2,UCGAUAAACCUCUGCAUCCAG,8098,2887,6495,5064,7927,3763,3161,12254,5558,2776,6299,3597,9651,8672,4472,19422,9853
3,UCGAUAAACCUCUGCAUCCAG,8098,2887,6495,5064,7927,3763,3161,12254,5558,2776,6299,3597,9651,8672,4472,19422,11231
4,UCGAUAAACCUCUGCAUCCAG,8098,2887,6495,5064,7927,3763,3161,12254,5558,2776,6299,3597,9651,8672,8614,4870,9853